private/
build/

elements_state.json
logs.json
logs.csv
settings.json
nohup.out
pihti.log
last_plot.html
secret.key
users.json

*.egg-info/

.DS_Store

__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz
*.pyzwzw
*.pyzwzwz
*.pyzwzwzw