<!-- templates/navbar.html -->
<div class="navbar">
    <div class="navbar-container">
        <div class="navbar-logo"><a href="{{ url_for('home') }}">PIHTI</a></div>
        <div class="navbar-toggle" onclick="toggleNavbar()">
            <span id="toggleIcon">&#9776;</span>
        </div>
        <ul class="navbar-items" id="navbarItems">
            <li><a href="{{ url_for('home') }}">Vacuum</a></li>
            <li><a href="{{ url_for('serve_history_view') }}">History</a></li>
            <li><a href="{{ url_for('plasmaplots') }}">Plot</a></li>
        </ul>
        <div class="navbar-user">
            {% if session.get('username') %}
            <span>{{ session['username'] }}</span>
            <a href="{{ url_for('logout') }}" class="navbar-link">Logout</a>
            {% else %}
            <a href="{{ url_for('login_page') }}" class="navbar-link">Login</a>
            {% endif %}
        </div>
    </div>
</div>