.content {
    padding-top: 30px;
}

#diagram-container {
    width: 100%;
    max-width: 830px;
    margin: auto;
    border: 1px solid #250e0e;
    overflow: hidden;
    background-color: coral;
}

#diagram-container svg {
    width: 100%;
    height: auto;
    /* Maintains aspect ratio */
}

#tooltip {
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    pointer-events: none;
    display: none;
}

.log-title {
    display: flex;
    /* Enable flexbox layout */
    justify-content: space-between;
    /* Ensure space between the header and the button */
    align-items: center;
    /* Vertically align the items in the center */
    text-align: center;
    /* Center the text inside the h1 */
}

/* Basic button style for the link */
.btn-download {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Hover effect */
.btn-download:hover {
    background-color: #0056b3;
}

/* Focused state (when clicked or navigated via keyboard) */
.btn-download:focus {
    outline: none;
    /* Remove default focus outline */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    /* Add custom focus outline */
}

/* Optional: Active state for button press */
.btn-download:active {
    background-color: #004085;
    /* Even darker blue when pressed */
}


table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

/* Navigation bar on top */
.navbar {
    background-color: #f2f2f2;
    height: 30px;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

.navbar-container {
    max-width: var(--main-content-width);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}

.navbar a {
    text-decoration: none;
    color: #8c0c0c;
}

.navbar-logo {
    font-weight: bold;
    font-size: 30px;
}

.navbar-toggle {
    font-size: 24px;
    cursor: pointer;
    display: none;
}

.navbar-items {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-right: 30px;
    flex-wrap: wrap;
    margin-left: auto;
}


.navbar-items li {
    margin-left: 20px;
}

.navbar-items li a {
    text-decoration: none;
    color: #333;
}

/* Media query for mobile devices */

@media (max-width: 500px) {
    .navbar {
        width: 20px;
        height: 20px;
        padding: 20px;
        padding-top: 10px;
    }

    .navbar-logo {
        display: none;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-items {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #f2f2f2;
        padding: 5px;
        margin: 0;
        width: 100%;
        box-sizing: border-box;
    }

    .navbar-items.show {
        display: flex;
        width: max-content;
    }

    .navbar-items li {
        margin-bottom: 10px;
    }

    .navbar-items li a {
        font-size: 20px;
    }
}