{% extends 'base.html' %}

{% block title %}Logs{% endblock %}

{% block content %}
<h1 style="text-align: center;">Log</h1>
<table>
    <thead>
        <tr>
            <th>Timestamp</th>
            <th>ID</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for log in logs %}
        <tr>
            <td>{{ log.timestamp }}</td>
            <td>{{ log.id }}</td>
            <td>{{ log.status }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}